#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 75px);
  grid-template-rows: repeat(8, 75px);
  width: 600px;
  height: 600px;
  background-color: blue;
}

#chessboard .tile {
  height: 75px;
  width: 75px;
}
#chessboard .white-tile {
  background-color: #ebecd0;
}
#chessboard .black-tile {
  background-color: #779556;
}
